*{margin:0;padding:0;}


#head_section{
    background-color:blanchedalmond;
    padding: 50px 0px;
    color:rgb(2, 97, 2);
    /* font-family: "Arial", sans-serif; */
    font-weight:800;
    text-align: center;
}
#head_section h1{
    font-size: 80px;
    padding-bottom: 20px;
}
#about_section{
    padding: 50px 0px;
    background-color:beige;
    text-align: center;
}
.double-hr {
    border: 0;
    height: 4px;
    border-top: 2px solid #fd0d0d;
    border-bottom: 2px solid #ff0808;
    margin: 20px 0;
    
}

    
#producr_section{
    padding: 50px 0px;
    background-color:azure;
    text-align: center;
}
#footer_section{

    background-color:blanchedalmond;
    padding: 20px 0px;
    text-align: center;
}